.footer {
  background-color: var(--main-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.footer p {
  color: var(--main-light);
}

.footer a {
  color: var(--main-light);
}
