.imagesContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 20px 5%;
  gap: 10px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
