.imagesContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 20px 5%;
  gap: 20px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

@media (prefers-color-scheme: dark) {
  .imagesContainer {
    background-color: var(--background);
  }

  .imageContainer h2 {
    color: #ffffff;
  }

  .imageContainer p {
    color: rgba(255, 255, 255, 0.8);
  }
}
