.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.box {
  display: inline-block;
  margin: 0 8px;
  transform: scale(0.9);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .box {
    margin: 0 auto;
    transform: scale(1); /* Reset scaling for better visibility */
  }
}
