.formControl {
  width: 50%;
}

.submitButton {
  width: 100px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .formControl {
    width: 100%;
  }
}
